<div style="display: flex; gap: 8px; align-items: center">
    <h1 class="page-title" translate>html.tariff.new_title</h1>
    <span class="labelinfo_icon">
        <div class="labelinfo_i">i</div>
        <div class="labelinfo_text" translate>
            Число ключей в пакете<br/>
            Поле «Число ключей в пакете» отвечает за количество постоянных ключей, которые будут у пользователя в приложении, и которыми он сможет делиться по необходимости.<br/><br/>
            Срок триального периода<br/>
            Отключен – бесплатный период до конца месяца<br/>
            До конца следующего месяца - ключ действует до конца следующего месяца<br/><br/>
            Тип тарифа<br/>
            Услуга доступа – ключ действует до конца месяца<br/>
            Услуга ЖКХ - Пользователю выставляется счет для оплаты на следующий месяц в размере месячной ставки тарифа
        </div>
    </span>
</div>

<div class="row">
    <div class="col-md-6">
        <form name="TariffForm">
            <div class="portlet without-title light bordered">
                <div class="portlet-body form">

                    <ng-include src="'app/intercom/views/tariff/form.html'"></ng-include>

                    <div class="form-actions">
                        <button type="submit" class="btn blue" validation-submit="TariffForm" ng-click="save()" translate>html.defaults.add_title</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
