<div style="display: flex; gap: 8px; align-items: center">
  <h1 class="page-title" translate>html.camera.new_title</h1>
  <span class="labelinfo_icon">
        <div class="labelinfo_i">i</div>
        <div class="labelinfo_text" translate>
            Новый объект позволяет добавить камеру<br/>
            IP адрес – это IP адрес камеры, который используется для подключения
        </div>
    </span>
</div>

<div class="row">
  <div class="col-md-6">
    <form name="CameraForm">
      <div class="portlet without-title light bordered">
        <div class="portlet-body form">

          <ng-include src="'app/intercom/views/camera/form.html'"></ng-include>

          <div class="form-actions">
            <button type="submit" class="btn blue" validation-submit="CameraForm" ng-click="save()"
                    translate>html.defaults.add_title
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
