<div ng-if="camera">
  <div class="mb-15">
    <a ng-click="delete()" class="btn default uppercase" translate>html.defaults.remove_title</a>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form name="CameraForm">
        <div ng-show="showApplyMessage" class="note note-info">
          <h4 class="block" translate>html.tariff.tariff_apply_message</h4>
          <!--<p class="mb-10"><label><input type="checkbox" ng-model="notifyAbonents"> <span translate>html.tariff.tariff_notified_abonents</span></label></p>-->
          <a ng-click="save(); showApplyMessage=false;" class="btn default uppercase" translate>html.tariff.tariff_apply_button</a>
        </div>
        <div class="portlet without-title light bordered">
          <div class="portlet-body form">
            <button ng-click="checkStatus()" ng-disabled="selectedCameras.length === 0" class="btn default uppercase" translate>html.camera.check_status</button>
            <div class="form-group">
              <span translate>html.camera.status</span>: {{ camera.online ? "Онлайн" : "Оффлайн" }}
            </div>
            <ng-include src="'app/intercom/views/camera/form.html'"></ng-include>

            <div class="form-actions">
              <button type="submit" class="btn blue" validation-submit="CameraForm"
                      ng-click="showApplyMessageCall()" translate>html.defaults.update_title</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
