<div class="form-body">

  <div class="form-group">
    <label translate>html.camera.form.ip</label>
    <input class="form-control" type="text" name="CameraIp" ng-model="camera.CameraIp" validator="required">
  </div>

  <div class="form-group">
    <label translate>html.camera.form.login</label>
    <input class="form-control" type="text" name="CameraLogin" autocomplete="one-time-code" ng-model="camera.Login">
  </div>

  <div class="form-group">
    <label translate>html.camera.form.password</label>
    <div class="input-group">
      <input
          class="form-control"
          ng-attr-type="{{ passwordVisible ? 'text':'password'}}"
          autocomplete="one-time-code"
          ng-model="camera.Password"
      />
      <span class="input-group-addon" style="background: #d8d8d8;border: 1px solid #ccc;padding: 0;">
            <button type="button" ng-click="passwordVisible = !passwordVisible" style="background: none; border: 0;padding: 6px 10px;">
              <i class="fa" style="font-size: 16px;margin-top: 1px;color: #6b6b6b;" ng-class="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
          </span>
    </div>
  </div>

  <div class="form-group">
    <label translate>html.camera.form.name</label>
    <input class="form-control" type="text" name="CameraName" ng-model="camera.Name" validator="required">
  </div>

</div>
