
<h1 class="page-title uppercase" translate>html.access_right.list_title</h1>

<div class="row">
    <div class="col-md-12">

        <div class="table-scrollable mh-400">
            <table class="table table-hover table-bordered" ng-class="{'rtl-text': isRTL}">
                <thead>
                    <tr>
                        <th width="320px" translate>html.access_right.userDisplayName</th>
                        <th width="320px" translate>html.access_right.userPhoneNumber</th>
                        <th width="200px" translate>html.access_right.type</th>
                        <th width="200px" translate>html.access_right.perimeterPath</th>
                        <th width="200px" translate>html.access_right.owner</th>
                        <th width="200px" translate>html.access_right.address</th>
                        <th width="200px" translate>html.access_right.status</th>
                        <th width="200px" translate>html.access_right.from</th>
                        <th width="200px" translate>html.access_right.till</th>
                        <th translate>html.access_right.carModel</th>
                        <th translate>html.access_right.carNumber</th>
                    </tr>
                    <tr class="active">
                        <th><input ng-model="filter.UserDisplayName" class="form-control" ng-model-options="{debounce: 1000}"></th>
                        <th><input ng-model="filter.UserPhoneNumber" class="form-control" ng-model-options="{debounce: 1000}"></th>
                        <th></th>
                        <th><input ng-model="filter.PerimeterPath" class="form-control" ng-model-options="{debounce: 1000}"></th>
                        <th><input ng-model="filter.Owner" class="form-control" ng-model-options="{debounce: 1000}"></th>
                        <th><input ng-model="filter.Address" class="form-control" ng-model-options="{debounce: 1000}"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th><input ng-model="filter.CarModel" class="form-control" ng-model-options="{debounce: 1000}"></th>
                        <th><input ng-model="filter.CarNumber" class="form-control" ng-model-options="{debounce: 1000}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="object in objects track by $index" ng-click="openDetails(object)" ng-class="{'cursor-pointer': hasAccess('user')}">
                        <td>{{ object.userDisplayName }}</td>
                        <td>{{ object.userPhoneNumber }}</td>
                        <td>{{ object.type }}</td>
                        <td>{{ object.perimeterPath }}</td>
                        <td>{{ object.owner }}</td>
                        <td>{{ object.address }}</td>
                        <td>{{ object.status }}</td>
                        <td>{{ object.period.from | amUtc | amLocal | amDateFormat:'DD.MM.YYYY HH:mm' }}</td>
                        <td>{{ object.period.till | amUtc | amLocal | amDateFormat:'DD.MM.YYYY HH:mm' }}</td>
                        <td>
                            <span ng-repeat="car in object.cars">{{ car.model }}<br ng-if="!$last"/></span>
                        </td>
                        <td>
                            <span ng-repeat="car in object.cars">{{ car.number }}<br ng-if="!$last"/></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <a ng-click="loadMore()" class="btn default uppercase" ng-show="canLoadMode" translate>html.defaults.load_more</a>
        </div>
    </div>
</div>
