<div style="position: fixed; width: 100%; top: 100px; z-index: 5000;">
    <div class="panel panel-default" style="width: 600px; margin: 0 auto">
        <div class="panel-heading">
            <i class="fa fa-edit"></i> Настройки метода
        </div>

        <div class="panel-body">
            <div class="form-group">
                <label>Логин</label>
                <input class="form-control" ng-model="obj.userName">
            </div>

            <div class="form-group">
                <label>Пароль</label>
                <input class="form-control" ng-model="obj.password">
            </div>

            <div class="form-group">
                <label>Токен</label>
                <input class="form-control" ng-model="obj.token">
            </div>

            <div class="form-group">
                <label>Включен <input type="checkbox" ng-model="obj.enabled"></label>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-default btn-primary" ng-click="save()">Сохранить</button>
            <button class="btn btn-default btn-default" ng-click="closeModal()">Закрыть</button>
        </div>
    </div>
</div>