<div style="position: fixed; width: 100%; top: 60px; z-index: 11000;">
    <form name="accessGroupKeyForm" class="panel panel-default" style="width: 700px; margin: 0 auto; max-height: 85vh; overflow-y: auto">
        <div class="panel-heading">
            {{ (isEdit ? 'html.abonent.access_groups.edit_title' : 'html.abonent.access_groups.add_title') | translate }}
        </div>

        <div class="panel-body">
            <div class="form-group">
                <label translate>html.abonent.access_groups.form.title</label>
                <input class="form-control" type="text" name="title" ng-model="model.title" maxlength="100">
            </div>

            <div class="form-group">
                <label translate>html.control_panel_user.form.access_point_ids</label>
                <div ng-if="accessPoints.$resolved">
                    <select multiple="true" multi-select ng-model="model.accessPointIds" class="form-control"
                            ng-options="point.id as (point.displayName + (point.isLift ? ' (' + ('html.access.point.form.elevator' | translate) + ')' : '')) for point in accessPoints.items"></select>
                </div>
                <span class="text-danger" ng-if="submitted && !model.accessPointIds.length" translate>
                    html.abonent.access_groups.form.access_points_required
                </span>
            </div>

            <div class="form-group" ng-if="hasLiftSelected()">
                <label translate>html.abonent.access_groups.form.top_floor</label>
                <input class="form-control" type="number" name="topFloor" ng-model="model.topFloor">
            </div>

            <div class="form-group" ng-if="hasLiftSelected()">
                <label translate>html.abonent.access_groups.form.lower_floor</label>
                <input class="form-control" type="number" name="lowerFloor" ng-model="model.lowerFloor">
            </div>

            <div class="form-group">
                <label translate>html.abonent.access_groups.form.tag_ids</label>
                <div ng-repeat="tag in model.tagIds track by $index" style="display: flex; gap: 6px; margin-bottom: 6px;">
                    <input class="form-control" type="text" name="tagId{{ $index }}" ng-model="tag.value">
                    <a ng-click="removeTag($index)" class="btn default btn-sm"><i class="fa fa-trash"></i></a>
                </div>
                <span class="text-danger" ng-if="submitted && hasEmptyTag()" translate>
                    html.abonent.access_groups.form.tag_empty_error
                </span>
                <div>
                    <a ng-click="addTag()" class="btn btn-sm default"><i class="fa fa-plus"></i>
                        <span translate>html.defaults.add_title</span></a>
                </div>
            </div>

            <div class="form-group">
                <label translate>html.journal.date_from_display</label>
                <span class="dropdown">
                    <a class="dropdown-toggle" id="access-group-from-date" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <input class="form-control input-small text-center" readonly
                               value="{{ model.validFrom | date:'dd-MM-yyyy HH:mm' }}">
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <datetimepicker data-ng-model="model.validFrom"
                                        data-datetimepicker-config="{dropdownSelector: '#access-group-from-date', startView:'day', minView:'minute' }"/>
                    </ul>
                </span>
            </div>

            <div class="form-group">
                <label translate>html.journal.date_to_display</label>
                <span class="dropdown">
                    <a class="dropdown-toggle" id="access-group-till-date" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <input class="form-control input-small text-center" readonly
                               value="{{ model.validTill | date:'dd-MM-yyyy HH:mm' }}">
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <datetimepicker data-ng-model="model.validTill"
                                        data-datetimepicker-config="{dropdownSelector: '#access-group-till-date', startView:'day', minView:'minute' }"/>
                    </ul>
                </span>
                <div>
                    <span class="text-danger" ng-if="submitted && (!model.validFrom || !model.validTill)" translate>
                        html.abonent.access_groups.form.dates_required
                    </span>
                    <span class="text-danger" ng-if="submitted && model.validFrom && model.validTill && !isDateRangeValid()" translate>
                        html.abonent.access_groups.form.date_range_error
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label translate>html.abonent.perimeter_tariff</label>
                <select class="form-control" ng-model="model.tariffPolicyId"
                        ng-options="tariff.id as tariff.displayName for tariff in tariffs">
                    <option value="" translate>html.abonent.access_groups.form.no_tariff</option>
                </select>
            </div>

            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="model.restrictPassPermanentKeys">
                    <span translate>html.access.perimeter.restrictPassPermanentKeys</span>
                </label>
            </div>

            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="model.restrictPassTemporaryKeys">
                    <span translate>html.access.perimeter.restrictPassTemporaryKeys</span>
                </label>
            </div>
        </div>

        <div class="panel-footer">
            <button class="btn btn-default btn-primary" type="button" ng-click="save()" translate>
                html.defaults.save_title
            </button>
            <button class="btn btn-default" type="button" ng-click="closeModal(null)" translate>
                html.defaults.cancel_title
            </button>
        </div>
    </form>
</div>
