<div class="form-body row">

  <div class="col-md-4">

    <div class="form-group">
      <label translate>html.abonent.name_display</label>
      <input class="form-control" type="text" name="displayName" ng-model="abonent.displayName" maxlength="50"
             validator="required">
    </div>

    <div class="form-group">
      <label translate>html.abonent.phone_display</label>
      <div class="input-group">
        <input class="form-control" type="text" ng-model="abonent.phoneNumber" name="phoneNumber"
               validator="required" mask="{'mask': '+99999999999[9999]'}">
        <span class="input-group-btn" ng-if="isOld">
          <button type="button"
                  class="btn blue"
                  ng-disabled="!isPhoneNumberChanged() || !isPhoneNumberValid() || isSavingPhoneNumber"
                  ng-click="savePhoneNumber()">
            <span ng-if="!isSavingPhoneNumber" translate>html.abonent.change_phone_title</span>
            <span ng-if="isSavingPhoneNumber">...</span>
          </button>
        </span>
      </div>
    </div>

    <div class="form-group" ng-show="createAbonentUser" ng-if="createAbonentUser">
      <label>Email</label>
      <input class="form-control" type="text" ng-model="abonent.email" name="email" validator="required, email">
    </div>

    <div class="form-group">
      <label translate>html.abonent.address_display</label>
      <select-address ng-select-model="abonent.addressId" name="addressId" validator="required"></select-address>
    </div>

    <div class="form-group">
      <label translate>html.abonent.floor_display</label>
      <input class="form-control" ng-change="onlyNumbersFloor()" type="text" name="floor" ng-model="abonent.floor"
             maxlength="6">
    </div>

    <div class="form-group">
      <label translate>html.abonent.lowerfloor_display</label>
      <input class="form-control" ng-change="lowerFloorValidation()" type="text" name="lowerFloor"
             ng-model="abonent.lowerFloor">
    </div>

    <div class="form-group" ng-init="allowedFloorsError=false">
      <label translate>html.abonent.allowed_floors</label>
      <input class="form-control"
             type="text"
             name="allowedFloors"
             ng-model="model.allowedFloors"
             placeholder="{{ 'html.abonent.allowed_floors_placeholder' | translate }}"
             ng-change="checkAllowedFloors(model.allowedFloors)">
      <span style="font-size: 12px; color: red" ng-show="model.allowedFloorsError" translate>
        html.abonent.allowed_floor_error
      </span>
    </div>

    <div class="form-group">
      <label translate>html.abonent.room_display</label>
      <input class="form-control" type="text" maxlength="50" name="room" ng-model="abonent.room">
    </div>

    <div class="form-group">
      <label translate>html.abonent.external_id_display</label>

      <div class="input-group">
        <div class="input-group" ng-if="userIdAsPacsPrefix">
          <input class="form-control"
                type="text"
                name="externalIdReadonly"
                ng-value="getVisualExternalId()"
                readonly>

          <span class="input-group-btn" style="width: 90px;">
            <select class="form-control"
                    ng-model="externalIdViewMode.state"
                    ng-options="mode for mode in externalIdViewModes"
                    ng-change="onExternalIdViewModeChange()">
            </select>
          </span>

          <span class="input-group-btn">
            <button type="button"
                    class="btn btn-default"
                    ng-click="generateExternalId()"
                    ng-disabled="isGeneratingExternalId">
              <span ng-if="!isGeneratingExternalId">Сгенерировать</span>
              <span ng-if="isGeneratingExternalId">...</span>
            </button>
          </span>
        </div>

        <div class="input-group" ng-if="!userIdAsPacsPrefix">
          <input class="form-control"
                type="text"
                name="externalId"
                ng-model="abonent.externalId"
                ng-change="abonent.externalId = pacsValidation(abonent.externalId)">

          <span class="input-group-btn">
            <button type="button"
                    class="btn btn-default"
                    ng-click="generateExternalId()"
                    ng-disabled="isGeneratingExternalId">
              <span ng-if="!isGeneratingExternalId">Сгенерировать</span>
              <span ng-if="isGeneratingExternalId">...</span>
            </button>
          </span>
        </div>
        <span class="text-danger" ng-if="externalIdNotUnique" translate>
          abonents.external_id_unique_error
        </span>
      </div>

      <span class="text-danger" ng-if="!userIdAsPacsPrefix && abonent.externalId > 16777215" translate>
          html.abonent.pacsCodes.error
      </span>
      <span class="text-danger" ng-if="isDuplicateExternalId()" translate>
          html.abonent.pacsCodes.errorDuplicate
      </span>
    </div>


    <div class="form-group" ng-if="showRfid">
      <label translate>html.abonent.tag_id_display</label>
      <input class="form-control" type="text" name="tagId" ng-model="abonent.tagId">
    </div>

    <div class="form-group">
      <label translate>html.abonent.comments_display</label>
      <textarea class="form-control" type="text" name="com" ng-model="abonent.comments"></textarea>
    </div>

    <div class="form-group">
      <label>
        <input type="checkbox" name="IsAdministrator" ng-model="abonent.isAdministrator">
        <span translate>html.abonent.admin_display</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input type="checkbox" name="ElevatorPriority" ng-model="abonent.elevatorPriority">
        <span translate>html.abonent.elevator_priority</span>
      </label>
    </div>

    <!--
    <hr>
    <div style="display: flex; gap: 8px; align-items: center">
      <h4 translate>html.abonent.workking_time_display</h4>
      <span class="labelinfo_icon">
        <div class="labelinfo_i">i</div>
        <div class="labelinfo_text" translate>
            Временной интервал доступа<br/>
            Поле «Временный интервал доступа» отвечает за промежуток времени, между которым пользователь имеет доступ к замкам. Поле необязательно для заполнения, для неограниченного доступа оставьте поле пустым.<br/><br/>
            Флаг «Открыть по звонку»<br/>
            Отвечает за возможность открывать замок по звонку
        </div>
    </span>
    </div>

    <div class="form-group">
      <label translate>html.abonent.workking_time_start_display</label>
      <input class="form-control" ng-change="workingTimeStart()" maxlength="5" type="text" name="WorkingTimeStart"
             ng-model="abonent.workingTime.start" placeholder="HH:mm">
    </div>

    <div class="form-group">
      <label translate>html.abonent.workking_time_end_display</label>
      <input class="form-control" ng-change="workingTimeEnd()" maxlength="5" type="text" name="WorkingTimeEnd"
             ng-model="abonent.workingTime.end" placeholder="HH:mm">
    </div>
    -->

    <div class="form-group">
      <label>
        <input type="checkbox" name="isGsmOpenAllowed" ng-model="abonent.isGsmOpenAllowed">
        <span translate>html.abonent.isGsmOpenAllowed</span>
      </label>
    </div>

    <hr ng-show="abonent.id">

    <h4 ng-show="abonent.id" translate>html.abonent.cars_display</h4>

    <table ng-if="abonent.id" class="table table-bordered table-hover" ng-class="{'rtl-text': isRTL}">
      <thead ng-show="abonent.cars.length">
      <tr>
        <th translate>html.abonent.car_number_display</th>
        <th translate>html.abonent.car_model_display</th>
        <th ng-if="parkingLoaded && parkings.length" translate>html.parking.car_place</th>
        <th style="width: 1px"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="car in abonent.cars track by $index">
        <td>
          <input class="form-control"
                 name="abonentCars_number{{ $index }}"
                 type="text"
                 ng-model="car.number"
                 validator="required">
        </td>
        <td>
          <input class="form-control"
                 name="abonentCars_model{{ $index }}"
                 type="text"
                 ng-model="car.model"
                 validator="required">
        </td>
        <td ng-if="parkingLoaded && parkings.length">
          <div ng-repeat="binding in carBindings(car)">
            <span>{{ binding.parkingName }} &mdash; {{ binding.poolName }}</span>
            <a ng-click="unbindCar(binding)" class="btn default btn-xs">
              <i class="fa fa-times"></i>
            </a>
          </div>

          <div ng-show="isCarPersisted(car)">
            <select class="form-control input-sm"
                    ng-model="car.selectedPool"
                    ng-options="option.title for option in parkingPools track by option.poolId">
              <option value="" translate>html.parking.choose_place</option>
            </select>
            <a ng-click="bindCar(car)" ng-disabled="!car.selectedPool" class="btn default btn-xs">
              <span translate>html.parking.bind</span>
            </a>
          </div>

          <span class="muted" ng-hide="isCarPersisted(car)" translate>html.parking.save_car_first</span>
        </td>
        <td>
          <a ng-click="abonent.cars.splice($index, 1)" class="btn default btn-sm"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
      <tr>
        <td colspan="{{ parkingLoaded && parkings.length ? 4 : 3 }}">
          <a ng-click="abonent.cars.push({})" class="btn btn-sm default">
            <i class="fa fa-plus"></i>
            <span translate>html.defaults.add_title</span>
          </a>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- Пропуска, которые не заводятся в карточке абонента отдельно: QR, карта,
         PIN и BLE-ключ. Значение вводится вручную — в облаке их реестра нет,
         привязка к месту и есть их учёт. -->
    <div ng-if="abonent.id && parkingLoaded && parkings.length">
      <h4 translate>html.parking.passes_title</h4>

      <table class="table table-bordered table-hover">
        <thead ng-show="passBindings().length">
        <tr>
          <th translate>html.parking.pass_type</th>
          <th translate>html.parking.pass_value</th>
          <th translate>html.parking.car_place</th>
          <th style="width: 1px"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="binding in passBindings()">
          <td>{{ passTypeTitle(binding.identifierType) }}</td>
          <td>{{ binding.identifierValue }}</td>
          <td>{{ binding.parkingName }} &mdash; {{ binding.poolName }}</td>
          <td>
            <a ng-click="unbindCar(binding)" class="btn default btn-sm"><i class="fa fa-times"></i></a>
          </td>
        </tr>
        <tr>
          <td>
            <select class="form-control input-sm" ng-model="newPass.type"
                    ng-options="option.value as option.title for option in passTypes">
            </select>
          </td>
          <td>
            <input class="form-control input-sm" type="text" ng-model="newPass.value"
                   placeholder="{{ 'html.parking.pass_value' | translate }}">
          </td>
          <td>
            <select class="form-control input-sm"
                    ng-model="newPass.pool"
                    ng-options="option.title for option in parkingPools track by option.poolId">
              <option value="" translate>html.parking.choose_place</option>
            </select>
          </td>
          <td>
            <a ng-click="bindPass()" ng-disabled="!newPass.value || !newPass.pool"
               class="btn btn-sm default">
              <span translate>html.parking.bind</span>
            </a>
          </td>
        </tr>
        </tbody>
      </table>

      <p class="muted" translate>html.parking.pass_qr_case_hint</p>
    </div>
  </div>

  <div class="col-md-8" ng-if="abonent.id">
    <div class="clearfix" style="margin-bottom: 10px;">
      <h4 translate style="display: inline-block; margin: 0 10px 0 0; vertical-align: middle;">html.abonent.perimeters_title</h4>
      <button type="button"
              ng-if="abonent.userId"
              ng-click="exportAbonentObjectKey()"
              class="btn green btn-sm"
              style="vertical-align: middle;">
        <span translate>html.abonent.object_key.export</span>
      </button>
    </div>

    <script type="text/ng-template" id="accessTreeTemplate">

      <i class="jstree-icon jstree-ocl"
         ng-click="navigate[object.id] = !navigate[object.id]"></i>

      <a class="jstree-anchor" ng-if="object.parentId == '0'">
        <i class="jstree-icon jstree-themeicon jstree-themeicon-custom fa fa-folder icon-state-success"></i>
        {{ object.displayName }}
      </a>

      <a ng-click="clickPerimeter(object)" class="jstree-anchor" ng-if="object.parentId != '0'">
        <i class="jstree-icon jstree-themeicon jstree-themeicon-custom fa fa-folder icon-state-warning"></i>
        {{ object.displayName }}
        <i class="icon-pointer" ng-if="!!pointsParents.includes(object.id)"></i>
      </a>

      <ul class="jstree-children">
        <li ng-repeat="object in object.child | orderBy:'displayName'"
            ng-include="'accessTreeTemplate'"
            ng-init="navigate[object.id] = navigate[object.id] == undefined ? false : navigate[object.id]"
            class="jstree-node"
            ng-class="{
                        'jstree-last': $last,
                        'jstree-open': navigate[object.id] == true,
                        'jstree-closed': navigate[object.id] == false,
                        'jstree-leaf': !object.child.length
                    }"></li>
      </ul>
    </script>

    <script type="text/ng-template" id="AccessObjectsTemplate">
      <div class="tree-demo jstree jstree-1 jstree-default tree-ltr">
        <ul class="jstree-container-ul jstree-children">
          <li ng-repeat="object in objects | orderBy:'displayName'"
              class="jstree-node"
              ng-class="{
                            'jstree-last': $last,
                            'jstree-open': navigate[object.id] == true,
                            'jstree-closed': navigate[object.id] == false,
                            'jstree-leaf': !object.child.length
                        }"
              ng-init="navigate[object.id] = navigate[object.id] == undefined ? false : navigate[object.id]"
              ng-include="'accessTreeTemplate'">
          </li>
        </ul>
      </div>
    </script>

    <table class="table table-bordered table-hover" ng-class="{'rtl-text': isRTL}">
      <thead>
      <tr>
        <th translate>html.abonent.perimeter</th>
        <th translate>html.abonent.perimeter_tariff</th>
        <th style="white-space: nowrap; width: 1px"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="perimeter in abonent.perimeters"
          ng-init="perimeterObj=dataService.objects.GetItemById(perimeter.accessPerimeterId)"
          ng-if="perimeter.isPersisted">
        <td>
                        <span ng-repeat="parentPerimeter in dataService.getParentsAccessObjects(perimeterObj, true)">
                            <span>{{ parentPerimeter.displayName}}</span>
                            <span ng-show="!$last">&rarr;</span>
                        </span>
        </td>
        <td>
          {{ dataService.tariffs[perimeter.tariffPolicyId].displayName }}
        </td>
        <td style="white-space: nowrap;">
          <a ng-click="deletePerimeterKey(perimeter)" class="btn default btn-sm"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
      <tr ng-repeat="perimeter in abonent.perimeters" ng-if="!perimeter.isPersisted">
        <td>
          <access-objects perimeter-model="perimeter.accessPerimeterId"
                          ng-if="!perimeter.accessPerimeterId"></access-objects>

          <span ng-repeat="parentPerimeter in dataService.getParentsAccessObjects(perimeter.accessPerimeterId, true)"
                ng-if="perimeter.accessPerimeterId">
                            <span>{{ parentPerimeter.displayName}}</span>
                            <span ng-show="!$last">&rarr;</span>
                        </span>

          <a ng-click="perimeter.accessPerimeterId=undefined" ng-if="perimeter.accessPerimeterId" translate>html.defaults.change_title</a>
        </td>
        <td>
          <select-tariff ng-select-model="perimeter.tariffPolicyId"
                         name="abonentPerimeters_tariffPolicyId{{ $index }}"></select-tariff>
        </td>
        <td style="white-space: nowrap;">
          <a ng-click="deletePerimeterKey(perimeter)" class="btn default btn-sm"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4">
          <a ng-click="abonent.perimeters.push({isPersisted: false})" class="btn btn-sm default"><i class="fa fa-plus"></i>
            <span translate>html.defaults.add_title</span></a>
        </td>
      </tr>
      </tfoot>
    </table>

    <h4 translate>html.abonent.temporary_access_perimeters</h4>

    <table class="table table-bordered table-hover" ng-class="{'rtl-text': isRTL}">
      <thead>
      <tr>
        <th translate>html.abonent.perimeter</th>
        <th style="width: 162px" translate>html.abonent.start_period</th>
        <th style="width: 162px" translate>html.abonent.end_period</th>
        <th style="width: 1px"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="perimeter in abonent.temporaryAccessPerimeters">
        <td ng-if="perimeter.id" ng-init="perimeterObj=dataService.objects.GetItemById(perimeter.perimeterId)">
                        <span ng-repeat="parentPerimeter in dataService.getParentsAccessObjects(perimeterObj, true)"
                              ng-if="perimeter.perimeterId">
                            <span>{{ parentPerimeter.displayName}}</span>
                            <span ng-show="!$last">&rarr;</span>
                        </span>
        </td>
        <td ng-if="!perimeter.id">
          <access-objects perimeter-model="perimeter.perimeterId" ng-if="!perimeter.perimeterId"></access-objects>

          <span ng-repeat="parentPerimeter in dataService.getParentsAccessObjects(perimeter.perimeterId, true)"
                ng-if="perimeter.perimeterId">
                            <span>{{ parentPerimeter.displayName}}</span>
                            <span ng-show="!$last">&rarr;</span>
                        </span>

          <a ng-click="perimeter.perimeterId=undefined" ng-if="perimeter.perimeterId" translate>
            html.defaults.change_title</a>
        </td>
        <td>
                        <span class="dropdown">
                            <a class="dropdown-toggle" id="from-date-{{ $index }}" role="button" data-toggle="dropdown"
                               data-target="#" href="#">
                                <input class="form-control input-small text-center" readonly
                                       placeholder="{{ 'html.journal.date_from_display' | translate }}"
                                       name="abonentTemporaryAccessPerimeters_startPeriod{{ $index }}"
                                       value="{{ perimeter.startPeriod | date:'dd-MM-yyyy HH:mm' }}">
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <datetimepicker data-ng-model="perimeter.startPeriod"
                                                data-datetimepicker-config="{dropdownSelector: '#from-date-' + $index, startView:'day', minView:'minute', renderOn: 'end-date-changed' }"
                                                data-on-set-time="startDateOnSetTime()"
                                                data-before-render="startDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate, perimeter.endPeriod)"/>
                            </ul>
                        </span>
        </td>
        <td>
                        <span class="dropdown">
                            <a class="dropdown-toggle" id="to-date-{{ $index }}" role="button" data-toggle="dropdown"
                               data-target="#" href="#">
                                <input class="form-control input-small text-center" readonly
                                       placeholder="{{ 'html.journal.date_to_display' | translate }}"
                                       name="abonentTemporaryAccessPerimeters_endPeriod{{ $index }}"
                                       value="{{ perimeter.endPeriod | date:'dd-MM-yyyy HH:mm' }}">
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <datetimepicker data-ng-model="perimeter.endPeriod"
                                                data-datetimepicker-config="{dropdownSelector: '#to-date-' + $index, startView:'day', minView:'minute', renderOn: 'start-date-changed' }"
                                                data-on-set-time="endDateOnSetTime()"
                                                data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate, perimeter.startPeriod)"/>
                            </ul>
                        </span>
        </td>
        <td>
          <a ng-click="deleteTemporaryPerimeterKey(perimeter)" class="btn default btn-sm"><i
              class="fa fa-trash"></i></a>
        </td>
      </tr>

      </tbody>
      <tfoot>
      <tr>
        <td colspan="4">
          <a ng-click="abonent.temporaryAccessPerimeters.push({})" class="btn btn-sm default"><i class="fa fa-plus"></i>
            <span translate>html.defaults.add_title</span></a>
        </td>
      </tr>
      </tfoot>
    </table>

    <h4 translate>html.menu.cameras</h4>

    <table class="table table-bordered table-hover" ng-class="{'rtl-text': isRTL}">
      <thead>
      <tr>
        <th translate>html.camera.form.name</th>
        <th style="width: 1px"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="abonentCamera in abonentCameras">
        <td>{{ abonentCamera.name }}</td>
        <td>
          <a ng-click="deleteCamera(abonentCamera.cameraAccessPointId)" class="btn default btn-sm"><i
              class="fa fa-trash"></i></a>
        </td>
      </tr>

      </tbody>
      <tfoot>
      <tr>
        <td>
          <select name="camera" class="form-control" ng-model="selectedCamera.id">
            <option ng-repeat="camera in cameras" value="{{ camera.id }}">{{ camera.name }}</option>
          </select>
        </td>
        <td>
          <a ng-click="addCamera()" class="btn btn-sm default"><i class="fa fa-plus"></i>
            <span translate>html.defaults.add_title</span></a>
        </td>
      </tr>
      </tfoot>
    </table>

    <div style="display: flex; gap: 8px; align-items: center">
      <h4 translate>html.abonent.pacsCodes.title</h4>
      <span class="labelinfo_icon">
        <div class="labelinfo_i">i</div>
        <div class="labelinfo_text" translate>
            ID карт доступа и BLE-меток используются для предоставления возможности добавление нескольких PACS-кодов, чтобы члены семьи без криптоключей могли пользоваться доступом через карточки.<br/><br/>

            “DEC - десятичный”, “HEX - шестнадцатеричный”, “PROX - facility,card”
        </div>
    </span>
    </div>

    <table ng-show="abonent.id" class="table table-bordered table-hover" ng-class="{'rtl-text': isRTL}">
      <thead>
      <tr>
        <th>
          <select ng-model="pacsCodeMode.state" ng-change="updateMode()"
                  ng-options="mode for mode in modes">
          </select>
        </th>
        <th translate>html.abonent.pacsCodes.comment</th>
        <th style="width: 1px"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="pacsCode in pacsCodes">
        <td>
          <input class="form-control"
                 type="text"
                 ng-model="pacsCode.displayValue"
                 ng-change="onPacsCodeDisplayChange(pacsCode)"
                 ng-blur="pacsCode.displayValue = formatPacs(pacsCode.value, pacsCodeMode.state)"/>

          <span class="text-danger" ng-if="isPacsCodeOverLimit(pacsCode) && !userIdAsPacsPrefix" translate>
            html.abonent.pacsCodes.error
          </span>
          <span class="text-danger" ng-if="isPacsCodeOverLimit(pacsCode) && userIdAsPacsPrefix" translate>
            html.abonent.pacsCodes.error7byte
          </span>
          <span class="text-danger" ng-if="isDuplicatePacsCode(pacsCode)" translate>
            html.abonent.pacsCodes.errorDuplicate
          </span>
        </td>
        <td>
          <input class="form-control" type="text" ng-model="pacsCode.description">
        </td>
        <td>
          <a ng-click="deletePacsCode($index)" class="btn default btn-sm">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>

      </tbody>
      <tfoot>
      <tr>
        <td colspan="5">
          <button ng-disabled="hasPacsError() || hasDuplicates()" type="button" class="btn btn-sm blue"
                  ng-click="savePacsCodes()"
                  translate>html.defaults.save_title
          </button>
          <a ng-click="addPacsCode()" class="btn btn-sm default"><i class="fa fa-plus"></i>
            <span translate>html.defaults.add_title</span></a>
        </td>
      </tr>
      </tfoot>
    </table>

    <h4 translate>html.menu.sipdevices</h4>

    <table class="table table-bordered table-hover" ng-class="{'rtl-text': isRTL}">
      <thead>
      <tr>
        <th translate>html.sipdevice.form.name</th>
        <th translate>html.sipdevice.form.roomId</th>
        <th style="width:1px"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="abonentSip in abonentSipDevices">
        <td>{{ abonentSip.sipDeviceName }}</td>
        <td>{{ abonentSip.sipDeviceRoomId }}</td>
        <td>
          <a ng-click="deleteSipDevice(abonentSip.sipDeviceToAbonentId)"
             class="btn default btn-sm">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td>
          <select
              class="form-control"
              ng-model="selectedSipDevice.id"
              ng-options="d.sipDeviceId as d.sipDeviceName for d in sipDevices track by d.sipDeviceId">
          </select>
        </td>

        <td>
          <input
              type="text" inputmode="numeric"
              class="form-control"
              ng-model="selectedSipDevice.roomId"
              placeholder="{{ 'html.sipdevice.form.roomId' | translate }}"
          />
          <div
              class="text-danger"
              ng-show="selectedSipDevice.roomId && !isRoomIdUnique()">
            {{ 'html.sipdevice.form.roomid_unique_error' | translate }}
          </div>
          <div
              class="text-danger"
              ng-show="selectedSipDevice.roomId && !isRoomIdValid()">
            {{ 'html.sipdevice.form.roomid_range_error' | translate }}
          </div>

        </td>

        <td>
          <a
              ng-click="addSipDevice()"
              class="btn btn-sm default"
              ng-class="{ 'disabled': !selectedSipDevice.id || !selectedSipDevice.roomId || !isRoomIdUnique() || !isRoomIdValid() }">
            <i class="fa fa-plus"></i>
            <span translate>html.defaults.add_title</span>
          </a>
        </td>
      </tr>
      </tfoot>
    </table>

  </div>
</div>
