<h1 class="page-title uppercase" translate>html.abonent.list_title</h1>

<div class="row">
  <div class="col-md-12">

    <div class="abonent-toolbar">
      <a ui-sref="admin.abonent.create" class="btn default uppercase" translate>html.abonent.add_title</a>
      <div class="import-toolbar">
        <button ng-click="downloadTemplate()" class="btn default uppercase" translate>
          html.abonent.download_template_title
        </button>
        <button class="btn default uppercase import-btn-wrapper">
          <span translate>html.abonent.import_title</span>
          <input type="file" class="import-btn-input" file="importedFile" accept=".xlsx,.csv,.xls">
        </button>
        <span class="labelinfo_icon">
          <div class="labelinfo_i">i</div>
          <div class="labelinfo_text labelinfo_text_right" translate>
              importInfoTitle
          </div>
        </span>
      </div>
    </div>

    <div class="table-scrollable">
      <table class="table table-hover table-bordered table-tr-hover" ng-class="{'rtl-text': isRTL}">
        <thead>
        <tr>
          <th translate>html.abonent.name_display</th>
          <th width="200px" translate>html.abonent.phone_display</th>
          <th width="220px" translate>html.abonent.card_number_display</th>
          <th width="300px" translate>html.abonent.building_display</th>
          <th width="50px" translate>html.abonent.flat_display</th>
        </tr>
        <tr class="active">
          <th><input ng-model="filter.DisplayName" type="text"
                     ng-model-options="{debounce: 500}" class="form-control"></th>
          <th><input ng-model="filter.phoneNumber" type="text"
                     ng-model-options="{debounce: 500}" class="form-control"></th>
          <th><input ng-model="filter.cardNumber" type="text"
                     ng-model-options="{debounce: 500}" class="form-control"></th>
          <th>
            <select-address ng-select-model="filter.AddressId"></select-address>
          </th>
          <th><input ng-model="filter.Room" type="text"
                     ng-model-options="{debounce: 500}" class="form-control"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="abonent in objects | orderBy:'-modified'"
            ui-sref="admin.abonent.detail({id: abonent.id, abonent: abonent})">
          <td>{{ abonent.displayName }}</td>
          <td>{{ abonent.phoneNumber }}</td>
          <td class="abonent-cards-td" ng-click="$event.stopPropagation()">
            <span class="abonent-cards-cell" ng-if="abonent.cardList.length">
              <span class="abonent-cards-preview">{{ abonent.cardList[0] }}</span>
              <span class="abonent-cards-count"
                    ng-if="abonent.cardList.length > 1">+{{ abonent.cardList.length - 1 }}</span>
              <div class="abonent-cards-popup" ng-if="abonent.cardList.length > 1">
                <div class="abonent-cards-popup-item"
                     ng-repeat="card in abonent.cardList track by $index">{{ card }}</div>
              </div>
            </span>
          </td>
          <td>{{ dataService.addresses[abonent.addressId].value }}</td>
          <td>{{ abonent.room }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="text-center">
      <a ng-click="loadObjects(false)" class="btn default uppercase" ng-hide="isLoadedAll" translate>html.defaults.load_more</a>
    </div>

  </div>
</div>
