
<div class="change-pass-form" style="width: 350px; margin: 0 auto" ng-controller="ResetPasswordCtrl">

    <div cg-busy="loader"></div>
    <form id="changePassword" name="ChangePasswordForm" ng-hide="success">
        <p class="response-error" ng-if="response.error">{{ response.error }}</p>

        <div class="row">
            <label translate>html.cabinet.password_form.new_password</label>
            <input type="password" name="newPassword" validator="required, password" ng-model="newPassword" />
        </div>

        <div style="text-align: center; margin-top: 10px">
            <input type="submit" value="{{ 'html.cabinet.password_form.change_password'|translate }}" class="button" validation-submit="ChangePasswordForm" ng-click="reset()" />
        </div>
    </form>
    <div ng-show="success" translate>html.site.password_reset_success</div>
</div>