
<h3 class="page-title uppercase">{{ title }}</h3>

<div class="row">
    <div class="col-md-6">
        <form name="AddressForm">
            <div class="portlet without-title light bordered">

                <div class="portlet-body form">

                    <ng-include src="'/app/intercom/views/address/form.html'"></ng-include>

                    <div class="form-actions">
                        <button type="submit" class="btn blue" validation-submit="AddressForm" ng-click="save()" translate>html.defaults.save_title</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>