
<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header">Создание замка</h1>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-edit"></i> Данные замка
            </div>

            <div class="panel-body">
                <div class="row">
                    <form class="form" ng-submit="save()">

                        <ng-include src="'app/admin/views/lock/form.html'"></ng-include>

                        <div class="col-lg-12">
                            <hr>
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                    </form>
                    <!-- /.col-lg-8 (nested) -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.panel-body -->

        </div>
    </div>

</div>
