
<span translate>html.account.account_type_administrator</span>
<span translate>html.account.account_type_support</span>

<span translate>html.tariff.period_monthly</span>
<span translate>html.tariff.period_yearly</span>
<span translate>html.tariff.trial_type_disabled</span>
<span translate>html.tariff.trial_type_tillTheEndOfNextMonth</span>
<span translate>html.tariff.trial_type_first2Sec</span>
<span translate>html.tariff.tariff_type_serviceCompany</span>
<span translate>html.tariff.tariff_type_access</span>

<span translate>html.device.settings_form.gesture_useMethod1</span>
<span translate>html.device.settings_form.gesture_useMethod2</span>

<span translate>html.auth.email_confirm_title</span>
<span translate>html.auth.wrong_url</span>
<span translate>html.auth.email_confirmed_title</span>
<span translate>html.auth.new_password_title</span>
<span translate>html.auth.password_change_action</span>
<span translate>html.site.password_changed</span>
