
<div class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">

    <div class="page-header navbar navbar-fixed-top navbar-default">
        <div class="page-header-inner justify-flex">
            <div class="page-logo cursor-pointer" ui-sref="admin.home">
                <span>{{ title }}</span>
            </div>
            <ng-include src="'app/intercom/views/inc/toolbar.html'"></ng-include>
        </div>
    </div>

    <div class="clearfix"> </div>

    <div class="page-container">

        <ng-include src="'app/intercom/views/inc/sidebar.html'"></ng-include>

        <div class="page-content-wrapper">
            <div class="page-content" style="margin: 0;">
                <ui-view></ui-view>
            </div>
        </div>

    </div>
</div>
