
<div class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">

    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner ">
            <div class="page-logo cursor-pointer" ui-sref="admin.home">
                <span>{{ title }}</span>
            </div>

            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                <span></span>
            </a>

            <ng-include src="'/app/intercom/views/inc/toolbar.html'"></ng-include>
        </div>
    </div>

    <div class="clearfix"> </div>

    <div class="page-container">

        <ng-include src="'/app/intercom/views/inc/sidebar.html'"></ng-include>

        <div class="page-content-wrapper">
            <div class="page-content">
                <ui-view></ui-view>
            </div>
        </div>

    </div>
</div>
