<div class="portlet without-title light bordered">

    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>
            <span translate>html.access.object.add_title</span>
        </div>
    </div>

    <div class="portlet-body form">
        <form name="AccessObjectForm">
            <ng-include src="'app/intercom/views/access/object/form.html'"></ng-include>

            <div class="form-actions">
                <button type="submit" class="btn blue" validation-submit="AccessObjectForm" ng-click="submit()" translate>html.defaults.add_title</button>
                <a ui-sref="admin.access" class="btn default" translate>html.defaults.cancel_title</a>
            </div>
        </form>
    </div>
</div>
