<hr>
<h4 translate>html.account.object_key.title</h4>
<div class="row">
    <div class="col-md-2">
        <label translate>html.abonent.master_key.pid</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input disabled class="form-control" type="text" ng-model="objectKey.pid">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label translate>html.abonent.master_key.token</label>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input disabled class="form-control" type="text" ng-model="objectKey.masterKeyToken">
        </div>
    </div>
</div>
<div class="account-object-key-footer">
    <button type="button"
            ng-click="showAccessObjectMasterKeyModal()"
            class="btn btn-sm green"
            ng-disabled="objectKeyLoadInProgress">
        <span translate>html.account.object_key.show</span>
    </button>
</div>