
<form name="PasswordResetForm">
    <h3 class="form-title font-green" translate>html.auth.change_password_title</h3>

    <div class="form-group">
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="{{ 'html.auth.password_display'|translate }}" name="password"
               validator="required,password" ng-model="password">
    </div>
    <div class="form-actions">
        <button type="submit" ng-click="submit()" validation-submit="PasswordResetForm" class="btn btn-success uppercase" translate>html.auth.change_password_action</button>
    </div>
</form>
