
<form name="PasswordResetForm">
    <h3 class="form-title font-green" translate>html.auth.change_password_title</h3>

    <div ng-show="!passwordChanged">
        <div ng-show="code">
            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="{{ 'html.auth.password_display'|translate }}" name="password"
                       validator="required,password" ng-model="password">
            </div>
            <div class="form-actions">
                <button type="submit" ng-click="submit()" validation-submit="PasswordResetForm" class="btn btn-success uppercase" translate>html.auth.change_password_action</button>
            </div>
        </div>
        <div ng-show="!code" translate>html.auth.wrong_url</div>
    </div>
    <div ng-if="passwordChanged" translate>html.auth.password_changes</div>
</form>
