
<form name="LoginForm" ng-show="companyProfiles.length === undefined">
    <h3 class="form-title font-green" translate>html.auth.login_title</h3>

    <div class="form-group">
        <input class="form-control form-control-solid placeholder-no-fix" type="text" placeholder="{{ 'html.auth.login_display'|translate }}" name="login"
               validator="required" ng-model="login" />
    </div>

    <div class="form-group">
        <input class="form-control form-control-solid placeholder-no-fix" type="password" placeholder="{{ 'html.auth.password_display'|translate }}" name="password"
               validator="required" ng-model="password" />
    </div>

    <div class="form-actions justify-flex">
        <button type="submit" validation-submit="LoginForm" ng-click="submit()" class="btn green uppercase" translate>html.auth.login_action</button>
        <a ui-sref="auth.restore_password" class="forget-password" translate>html.auth.restore_password_title</a>
    </div>
</form>

<form ng-show="companyProfiles !== undefined">
    <h4 class="form-title font-green" translate>html.auth.select_company</h4>

    <div class="form-group" ng-show="hasMoreProfiles">
        <div class="input-group">
            <input
                class="form-control form-control-solid placeholder-no-fix"
                type="text"
                placeholder="{{ 'html.auth.search_company_placeholder'|translate }}"
                name="q"
                ng-model="q"
                autocomplete="off"
            />
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
        </div>
    </div>

    <div class="list-group" style="margin-bottom: 0">
        <a
            href="javascript:;"
            ng-repeat="companyProfile in companyProfiles"
            class="list-group-item"
            ng-click="selectProfile(companyProfile.id)"
        >
            {{ companyProfile.companyName }}
            <span class="text-muted">({{ companyProfile.address.streetAddress }})</span>
        </a>
    </div>
</form>
