<form name="PasswordResetForm" novalidate>
  <h3 class="form-title font-green" translate>html.auth.change_password_title</h3>

  <div ng-show="!passwordChanged">
    <div ng-show="code">
      <div class="form-group"
           ng-class="{'has-error': PasswordResetForm.new_password.$touched && PasswordResetForm.new_password.$invalid}">
        <div class="input-group">
          <input
              class="form-control placeholder-no-fix"
              ng-attr-type="{{ newPasswordVisible ? 'text':'password'}}"
              autocomplete="off"
              placeholder="{{ 'html.account.new_password_display' | translate }}"
              name="new_password"
              ng-model="password"
              ng-minlength="8"
              ng-pattern="/^(?=.*[0-9])(?=.*[!@#$%^&*])/"
              required
          />
          <span class="input-group-addon" style="background: #d8d8d8;border: 1px solid #ccc;padding: 0;">
            <button type="button" ng-click="newPasswordVisible = !newPasswordVisible" style="background: none; border: 0;padding: 12px 18px;">
              <i class="fa" style="font-size: 16px;margin-top: 1px;color: #6b6b6b;" ng-class="newPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
          </span>
        </div>

        <div class="help-block"
             ng-show="PasswordResetForm.new_password.$touched || PasswordResetForm.new_password.$dirty">
          <p style="margin: 4px 0" ng-show="PasswordResetForm.new_password.$error.required" translate>
            html.auth.errors.new_password_required
          </p>
          <p style="margin: 4px 0" ng-show="PasswordResetForm.new_password.$error.minlength" translate>
            html.auth.errors.password_minlength
          </p>
          <p style="margin: 4px 0" ng-show="PasswordResetForm.new_password.$error.pattern" translate>
            html.auth.errors.password_pattern
          </p>
        </div>
      </div>

      <div class="form-group"
           ng-class="{'has-error': PasswordResetForm.new_password_confirm.$touched && PasswordResetForm.new_password_confirm.$invalid}">
        <div class="input-group">
          <input
              class="form-control placeholder-no-fix"
              ng-attr-type="{{ newPasswordVisible ? 'text':'password'}}"
              autocomplete="off"
              placeholder="{{ 'html.auth.confirm_new_password' | translate }}"
              name="new_password_confirm"
              ng-model="new_password"
              ng-required="true"
              ng-pattern="password"
              ng-model-options="{ allowInvalid: true }"
          />

          <span class="input-group-addon" style="background: #d8d8d8;border: 1px solid #ccc;padding: 0;">
            <button type="button" ng-click="newPasswordVisible = !newPasswordVisible" style="background: none; border: 0;padding: 12px 18px;">
              <i class="fa" style="font-size: 16px;margin-top: 1px;color: #6b6b6b;" ng-class="newPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
          </span>
        </div>
        <div class="help-block"
             ng-show="PasswordResetForm.new_password_confirm.$touched || PasswordResetForm.new_password_confirm.$dirty">
          <p style="margin: 4px 0" ng-show="PasswordResetForm.new_password_confirm.$error.required" translate>
            html.auth.errors.confirm_password_required
          </p>
          <p style="margin: 4px 0" ng-show="PasswordResetForm.new_password_confirm.$error.pattern" translate>
            html.auth.errors.passwords_must_match
          </p>
        </div>
      </div>

      <div class="form-actions">
        <button
            type="submit"
            ng-click="submit()"
            ng-disabled="PasswordResetForm.$invalid || isDisabledButton()"
            validation-submit="PasswordResetForm"
            class="btn btn-success uppercase"
            translate>
          html.auth.change_password_action
        </button>
      </div>
    </div>

    <div ng-show="!code" translate>html.auth.wrong_url</div>
  </div>

  <div ng-if="passwordChanged" translate>html.site.password_changed</div>
</form>
