
<form name="RestorePasswordForm">
    <h3 class="form-title font-green" translate>html.auth.restore_password_title</h3>

    <div ng-hide="success">

        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="{{ 'html.auth.login_display'|translate }}" name="login"
                   validator="required" ng-model="login">
        </div>

        <div class="form-actions">
            <button ui-sref="auth.login" type="button" id="back-btn" class="btn btn-default" translate>html.defaults.back_title</button>
            <button type="submit" ng-click="submit()" validation-submit="RestorePasswordForm" class="btn btn-success uppercase pull-right" translate>html.defaults.continue_title</button>
        </div>
    </div>

    <div ng-show="success">
        <p translate>html.auth.restore_password_success_text</p>
        <a ui-sref="auth.login" class="btn green uppercase" translate>html.auth.login_title</a>
    </div>
</form>
