<div class="portlet light bordered">
  <div class="portlet-title justify-flex">
    <div style="display: flex; align-items: center; gap: 4px">
      <div class="block-caption">
        <i class="fa fa-cogs"></i> {{ title }}
      </div>
      <span class="labelinfo_icon">
        <div class="labelinfo_i">i</div>
        <div class="labelinfo_text" translate>
          Настройки точки доступа - это настройки, которые приходят в ключе пользователя.<br/>
          Время открытия - это промежуток в миллисекундах, на который контроллер открывается, если установлен режим работы реле (Continuous).<br/>
          Автооткрытие разрешено - разрешает или запрещает автоматическое открытие для ключа, отправленного от этой точки доступа. <br/>
          Дистанция - это значение уровня сигнала в децибелах, при пересечении которого, контроллер откроется, если автооткрытие включено. <br/>
          Разрешено оставлять открытым, пока телефон рядом - если чек-бокс установлен, контроллер будет открыт, пока смартфон не покинет дистанцию открытия.<br/>
          Разрешить открытие звонком - разрешает или запрещает открытие звонком, а также показывает или скрывает кнопку открытия звонком в мобильном приложении. <br/>
          Разрешить открытие через интернет - разрешает или запрещает открытие через интернет, а также показывает или скрывает кнопку открытия через интернет в мобильном приложении. <br/>
          Ограничение по геопозиции - при открытии через интернет, будет проверяться находится ли устройство в радиусе от контроллера.<br/>
          Будьте внимательны, обновление настроек доступно один раз в 10 минут.
        </div>
      </span>
    </div>


    <div class="actions">
      <a ng-click="delete()" class="btn default red" translate>html.defaults.remove_title</a>
    </div>
  </div>

  <div class="portlet-body form">

    <div ng-init="showForm='base'">
      <a ng-click="showForm='base'" ng-class="{'active': showForm == 'base'}"
         class="btn default" translate>html.access.point.form.base_title</a>
      <a ng-click="showForm='settings'"
         ng-class="{'active': showForm == 'settings'}"
         class="btn default"
         ng-show="!point.isPostamatAccessPoint"
         translate>html.access.point.form.settings_title</a>
      <a ng-click="showForm='replace'"
         ng-class="{'active': showForm == 'replace'}"
         class="btn default"
         ng-show="!point.isPostamatAccessPoint"
         translate>html.access.point.form.replace_title</a>
      <a ng-click="showForm='control'"
         ng-class="{'active': showForm == 'control'}"
         class="btn default"
         ng-show="!point.isPostamatAccessPoint && isEditPoint">Управление</a>
    </div>

    <form name="DeviceReplaceForm" ng-show="showForm == 'replace'">
      <div class="form-body">
        <div class="form-group">
          <label translate>html.access.point.form.new_lock_id_display</label>
          <input class="form-control" type="text" name="newLockId" ng-model="newLockId" validator="required">
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn blue" validation-submit="DeviceReplaceForm" ng-click="replace(newLockId)"
                translate>html.defaults.save_title
        </button>
      </div>
    </form>

    <form name="AccessPointControlForm" ng-show="showForm == 'control'" style="margin-top: 20px;">
      <div class="form-body">
        <div class="portlet light bordered" ng-if="!point.isPostamatAccessPoint && isEditPoint">
          <div class="form-group">
            <label>Время открытия, сек.</label>
            <input class="form-control"
                  type="number"
                  min="1"
                  name="unlockSeconds"
                  ng-model="unlock.seconds">
          </div>

          <div class="form-group">
            <button type="button"
                    class="btn btn-primary"
                    ng-click="unlockController()">
              Открыть контроллер
            </button>
          </div>
        </div>
      </div>
    </form>

    <form name="AccessObjectForm" ng-show="showForm == 'base'">
      <ng-include src="'app/intercom/views/access/point/form.html'"></ng-include>

      <div class="form-actions">
        <button type="submit" class="btn blue" validation-submit="AccessObjectForm" ng-click="submit()" translate>
          html.defaults.save_title
        </button>
        <button class="btn default" ui-sref="admin.access" translate>html.defaults.cancel_title</button>
      </div>
    </form>

    <form name="DeviceDefaultKeySettings" ng-show="showForm == 'settings'" style="margin-top: 20px;">
      <div class="portlet-body form">

        <ng-include src="'app/intercom/views/access/point/form_default_key_settings.html'"></ng-include>

        <div class="form-actions">
          <button type="submit" class="btn blue" validation-submit="DeviceDefaultKeySettings"
                  ng-click="updateSettings()" translate>html.defaults.save_title
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
