
<div class="form-body">
    <div class="form-group">
        <label translate>html.access.point.form.lock_id</label>
        <input class="form-control" name="lockId" ng-model="point.lockId" validator="required">
    </div>

    <div class="form-group">
        <label translate>html.access.point.form.display_name</label>
        <input class="form-control" type="text" name="displayName" ng-model="point.displayName" validator="required">
    </div>

    <div class="form-group">
        <label translate>html.access.point.form.description</label>
        <input class="form-control" name="description" ng-model="point.description">
    </div>

    <div class="form-group">
        <label translate>html.access.point.form.type</label>
        <select name="type" ng-model="point.type" class="form-control">
            <option value="Default" translate>html.access.point.type_default</option>
            <option value="Entrance" translate>html.access.point.type_entrance</option>
            <option value="Exit" translate>html.access.point.type_exit</option>
        </select>
    </div>

    <div class="form-group">
        <label>
            <input type="checkbox" name="IsLift" ng-model="point.isLift">
            <span translate>html.access.point.form.elevator</span>
        </label>
    </div>

    <div class="form-group" ng-show="point.lockPhoneNumber !== undefined">
        <label translate>html.access.point.form.lockPhoneNumber</label>
        <input class="form-control" name="lockPhoneNumber" ng-model="point.lockPhoneNumber" disabled >
    </div>

    <div class="form-group">
        <label translate>html.access.point.form.simCardPaymentTo</label>
        <input class="form-control"
               name="paymentDate"
               value="{{ point.paymentDate | date:'dd-MM-yyyy' }}"
               disabled
               ng-if="vm.isDisabledPaymentDate"/>
        <div class="form-inline" ng-if="!vm.isDisabledPaymentDate">
            <span class="dropdown">
                <a class="dropdown-toggle" id="payment-date" role="button" data-toggle="dropdown" data-target="#" href="#">
                    <input class="form-control datetime-field"
                           readonly
                           style="width: 100%;"
                           name="paymentDate"
                           value="{{ point.paymentDate | date:'dd.MM.yyyy' }}"/>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <datetimepicker ng-model="point.paymentDate"
                                    datetimepicker-config="{dropdownSelector: '#payment-date', startView:'day', minView:'day' }" />
                </ul>
            </span>
        </div>
    </div>

</div>
