

<div style="text-align: center; min-height: 100vh; padding: 20px; background-color: #f7f7f7;" class="text-xs-center lock-main">

  <div style="font-size: 32px; color: #333; line-height: 105%; font-weight: bold;">
    <span translate>QR</span>
  </div>

  <div style="display: flex; justify-content: center; flex-direction: row; flex-wrap: wrap;">
    <div class="lock-state"
         style=" width: 100%; max-width: 500px; border: 1px solid #ddd; border-radius: 8px; margin: 10px; padding: 10px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); display: flex; flex-direction: column; align-items: center; justify-content: space-between;">
      <canvas style="width: 100%" id="aztec-canvas"></canvas>
    </div>
  </div>
</div>
