
<h1 class="page-title" translate>html.account.change_password_title</h1>

<form name="ChangePasswordForm">
    <div class="portlet without-title light bordered">
        <div class="portlet-body form">

            <div class="form-body">
                <div class="form-group">
                    <label translate>html.account.old_password_display</label>
                    <input class="form-control" type="password" name="OldPassword" ng-model="OldPassword" validator="required">
                </div>

                <div class="form-group">
                    <label translate>html.account.new_password_display</label>
                    <input class="form-control" type="password" name="NewPassword" ng-model="NewPassword" validator="required, password">
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn blue" validation-submit="ChangePasswordForm" ng-click="save()" translate>html.defaults.save_title</button>
            </div>
        </div>
    </div>
</form>
