<div ng-if="sipDevice && sipServers.length > 0" class="form-body">

  <div class="form-group">
    <label translate>html.sipdevice.form.deviceName</label>
    <input class="form-control"
           type="text"
           name="SipDeviceName"
           ng-model="sipDevice.Name"
           validator="required">
    <div class="text-danger" ng-show="sipDevice.Name.length > 50" translate>html.sipdevice.form.name_lenght_error</div>
  </div>

  <div class="form-group">
    <label translate>html.sipdevice.form.server</label>
    <select class="form-control"
            name="SipServerId"
            ng-model="sipDevice.SipServerId"
            ng-options="srv.sipServerId as srv.sipServerName for srv in sipServers"
            ng-disabled="!sipDevice.isNew"
            validator="required">
    </select>
  </div>

  <div class="form-group">
    <label translate>html.sipdevice.address_display</label>
    <select-address ng-select-model="sipDevice.AddressId" name="addressId" validator="required"></select-address>
  </div>

  <div class="form-group">
    <label translate>html.sipdevice.form.OpenMethod</label>
    <select class="form-control"
            name="SipServerId"
            ng-model="sipDevice.OpenMethod"
            ng-options="method.value as method.name for method in openMethods"
            validator="required">
    </select>
  </div>

  <div ng-if="sipDevice.OpenMethod === 'dtmf'" class="form-group">
    <label translate>html.sipdevice.form.DtmfOpenCommand</label>
    <input class="form-control"
           type="text"
           name="SipDeviceDtmfOpenCommand"
           ng-model="sipDevice.DtmfOpenCommand"
           ng-pattern="/^[0-9+*#]+$/"
    >
    <div class="text-danger" ng-show="sipDevice.DtmfOpenCommand.length > 10" translate>html.sipdevice.form.dtmf_lenght_error</div>
    <div class="text-danger" ng-show="SipDeviceForm.SipDeviceDtmfOpenCommand.$error.pattern" translate>html.sipdevice.form.dtmf_invalid_chars</div>
  </div>

  <div class="form-group">
    <label translate>html.sipdevice.form.description</label>
    <textarea class="form-control"
              name="Description"
              ng-model="sipDevice.Description"
              rows="3"></textarea>
    <div class="text-danger" ng-show="sipDevice.Description.length > 200" translate>html.sipdevice.form.desc_lenght_error</div>
  </div>

  <div class="form-group">
    <label translate>html.sipdevice.form.configuration</label>
    <textarea class="form-control"
              name="SipDeviceConfiguration"
              ng-model="sipDevice.Configuration"
              ng-disabled="configDisabled"
              rows="5"></textarea>
    <button
        type="button"
        class="btn blue"
        style="margin-top: 8px"
        ng-show="configDisabled"
        ng-click="editConfig()"
        translate>html.sipdevice.form.edit_config
    </button>
  </div>
</div>
