<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header" translate>CAMERAS_TITLE</h1>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <table class="table table-bordered table-hover table-striped">
            <button ng-click="checkStatus()" style="margin-bottom: 16px" class="btn btn-default btn-sm" ng-disabled="selectedCameras.length === 0" translate>CAMERAS_CHECK_STATUS</button>
            <thead>
            <tr>
              <th>
                <input type="checkbox"
                       ng-model="selectAll"
                       ng-change="toggleAllCameras(selectAll)">
              </th>
              <th style="vertical-align: top;" translate>TABLE_CELL_UUID</th>
              <th style="vertical-align: top;" translate>TABLE_CELL_CAMERA_NAME</th>
              <th style="vertical-align: top;" translate>TABLE_CELL_CAMERA_COMPANY_NAME</th>
              <th style="vertical-align: top;" translate>TABLE_CELL_CAMERA_IP</th>
              <th style="vertical-align: top;" translate>TABLE_CELL_CAMERA_STATUS</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="camera in cameras">
              <td>
                <input type="checkbox"
                       style="cursor: pointer"
                       ng-checked="isSelected(camera)"
                       ng-click="toggleSelection(camera)">
              </td>
              <td>{{ camera.id }}</td>
              <td>{{ camera.name }}</td>
              <td>{{ camera.serviceCompanyName }}</td>
              <td>{{ camera.link }}</td>
              <td translate>{{ camera.online ? "Online"  : "Offline"}}</td>
              <td>
                <button ng-click="deleteCamera(camera)" class="btn btn-default btn-sm"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <button ng-click="loadCameras(20, false, listFilter)" ng-hide="loadedAllCameras" class="btn btn-default" translate>
          BUTTON_LOAD_MORE
        </button>
      </div>
    </div>
  </div>
</div>
