<div class="top-menu" style="display: flex;">
    <p class="navbar-text"
       style="background-color: rgb(201, 48, 44); padding: 13px; margin: 0; color: #c6cfda"
       ng-if="user.data.keyCount.remain < 10">
       <span translate>html.toolbar.keys.remain</span>: {{ user.data.keyCount.remain }}
    </p>
    <ul class="nav navbar-nav pull-right">
        <li class="dropdown dropdown-lang dropdown-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <span class="fa fa-flag username"></span> <span class="username">{{ language.getTitle() }} </span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu" ng-class="{'dropdown-rtl': isRTL, 'dropdown-lang': isRTL}">
                <li ng-repeat="(code, title) in language.languages" ng-hide="language.active == code">
                    <a ng-click="language.setLanguage(code)"><i class="fa fa-flag-o"></i> {{ title }}</a>
                </li>
            </ul>
        </li>

        <li class="dropdown dropdown-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <span class="username"> {{ user.data.companyName }} </span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu" ng-class="{'rtl-text': isRTL, 'dropdown-rtl': isRTL}">
                <li ng-if="hasAccess('accountManager')">
                    <a ui-sref="admin.account.profile"><i class="icon-user"></i> <span translate>html.toolbar.settings</span></a>
                </li>
                <li>
                    <a ui-sref="admin.account.change_password"><i class="icon-lock"></i> <span translate>html.toolbar.change_password</span></a>
                </li>
                <li>
                    <a ng-click="user.unload()"><i class="icon-key"></i> <span translate>html.toolbar.logout</span></a>
                </li>
            </ul>
        </li>
    </ul>
    <button type="button"
            class="navbar-toggle menu-toggler responsive-toggler"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-expanded="false"
            style="padding: 2px; border: none;">
        <span class="icon-bar" style="width: 20px;"></span>
        <span class="icon-bar" style="width: 20px;"></span>
        <span class="icon-bar" style="width: 20px;"></span>
    </button>
</div>
