<div class="top-menu">
    <ul class="nav navbar-nav pull-right">

        <li class="dropdown dropdown-lang dropdown-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <span class="fa fa-flag username"></span> <span class="username">{{ language.getTitle() }} </span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="(code, title) in language.languages" ng-hide="language.active == code">
                    <a ng-click="language.setLanguage(code)"><i class="fa fa-flag-o"></i> {{ title }}</a>
                </li>
            </ul>
        </li>

        <li class="dropdown dropdown-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <span class="username"> {{ user.data.companyName }} </span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                <li>
                    <a ui-sref="admin.account.profile"><i class="icon-user"></i> <span translate>html.toolbar.settings</span></a>
                </li>
                <li>
                    <a ui-sref="admin.account.change_password"><i class="icon-lock"></i> <span translate>html.toolbar.change_password</span></a>
                </li>
                <li>
                    <a ng-click="user.unload()"><i class="icon-key"></i> <span translate>html.toolbar.logout</span></a>
                </li>
            </ul>
        </li>
    </ul>
</div>
