<div class="col-lg-6">
    <div class="form-group">
        <label translate>POSTAMAT_FORM_ID</label>
        <input class="form-control" ng-model="postamat.id" ng-disabled="!isCreate">
    </div>

    <div class="form-group">
        <label translate>POSTAMAT_FORM_PID</label>
        <input class="form-control" ng-model="postamat.pid" ng-disabled="!isCreate">
    </div>

    <div class="form-group">
        <label translate>POSTAMAT_FORM_CELLS</label>
        <input class="form-control" ng-model="postamat.cellCount" ng-disabled="!isCreate">
    </div>

    <div class="form-group">
        <label translate>POSTAMAT_FORM_CAMERA_ADDRESS</label>
        <input class="form-control" ng-model="postamat.rtspAddress">
    </div>
</div>
