<div style="position: fixed; width: 100%; top: 100px; z-index: 5000;">
    <form name="QRgenerationForm" class="panel panel-default" style="width: 600px; margin: 0 auto">
        <div class="panel-heading" translate>
            html.access.perimeter.generateQR.title
        </div>

        <div class="panel-body">
            <div class="form-group">
                <label translate>html.access.perimeter.generateQR.address</label>
                <select-address ng-select-model="qrConfig.addressId" name="addressId"></select-address>
                <p ng-if="(submitted || QRgenerationForm.addressId.$touched) && QRgenerationForm.addressId.$invalid" class="validation-invalid" translate>validation.required</p>
            </div>

            <div class="form-group">
                <label translate>html.access.perimeter.generateQR.flats</label>
                <div style="display: flex; justify-content: space-around;">
                    <div>
                        <label translate>html.access.perimeter.generateQR.from</label>
                        <input type="text" class="form-control" ng-model="qrConfig.roomFrom" name="roomFrom" validator="required, number">
                    </div>
                    <div>
                        <label translate>html.access.perimeter.generateQR.to</label>
                        <input type="text" class="form-control" ng-model="qrConfig.roomTo" name="roomTo" validator="required, number">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label translate>html.access.perimeter.generateQR.tarrif</label>
                <select-tariff ng-select-model="qrConfig.tariffPolicyId" name="tariffPolicyId"></select-tariff>
                <p ng-if="(submitted || QRgenerationForm.tariffPolicyId.$touched) && QRgenerationForm.tariffPolicyId.$invalid" class="validation-invalid" translate>validation.required</p>
            </div>
        </div>
        <div class="panel-footer">
            <button
                class="btn btn-default btn-primary"
                type="submit"
                validation-submit="QRgenerationForm"
                ng-click="save()"
                ng-mousedown="submitted = true"
                translate>
                html.access.perimeter.generateQR.generate
            </button>
            <button class="btn btn-default btn-default" ng-click="closeModal()" translate>html.access.perimeter.generateQR.cancel</button>
        </div>
    </form>
</div>