
<div class="container container-top cabinet">
    <h1 translate>html.cabinet.title</h1>
    <ul class="tabs">
        <li><a ui-sref="cabinet.profile" ui-sref-active="selected" translate>html.cabinet.menu.profile</a></li>
        <li><a ui-sref="cabinet.keys" ui-sref-active="selected" translate>html.cabinet.menu.keys</a></li>
        <li><a ui-sref="cabinet.incoming-keys" ui-sref-active="selected" translate>html.cabinet.menu.incoming_keys</a></li>
        <li><a ui-sref="cabinet.payment" ui-sref-active="selected" translate>html.cabinet.menu.payment</a></li>
    </ul>
</div>

<div ui-view></div>