<div style="position: fixed; width: 100%; top: 100px; z-index: 50000;">
    <form name="QRgenerationForm" class="panel panel-default" style="width: 600px; margin: 0 auto">
        <div class="panel-heading">
            <span translate>html.modals.keys_title</span> {{remainingKeys}}.
        </div>

        <div class="panel-body">
            <div class="form-group">
                <span translate>html.modals.keys_message</span> <a href="mailto://info@smartairkey.com">info@smartairkey.com</a><br/>
                <span translate>html.modals.keys_message_phone</span><a href="tel://+74951506625">+7 495 150-66-25</a>.
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-default btn-default" ng-click="closeModal()">Ok</button>
        </div>
    </form>
</div>