

<h1 class="page-title uppercase" translate>html.journal.reports</h1>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#access" onclick="return false;" aria-controls="access" role="tab" data-toggle="tab">Доступ</a>
            </li>
            <li role="presentation">
                <a href="#workingtime" onclick="return false;" aria-controls="workingtime" role="tab" data-toggle="tab">Рабочее время</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="access">
                <ng-include src="'app/intercom/views/journal/access.html'"></ng-include>
            </div>
            <div role="tabpanel" class="tab-pane" id="workingtime">
                <ng-include src="'app/intercom/views/journal/working-time.html'"></ng-include>
            </div>
        </div>
    </div>
</div>
